.container {
    width: 600px;
    height: 700px;
    border: 2px solid black;
    border-radius: 20px;
}

.image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: grey;
}
.listContainer {
    display: flex;
}